$font-sizes: (
    "h1": 72px,
    "h2": 40px,
    "card-heading": 24px,
    "banner-heading": 30px,
    "card-text": 16px,
    "header-text": 16px,
    "banner-text": 16px,
    "footer-text": 16px,
    "anchor": 16px,
    "logo-major": 24px,
    "logo-minor": 10px
    );
    
@mixin button {
    color: $secondary-text-color;
    font-size: 16px;
    padding: 15px 45px;
    background-color: $btn-color;
    border-radius: 3px;
    border: none;
    transition: .2s;

    &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 7px $primary-color;
    }
}

@mixin anchor {
    font-family: 'Hind', sans-serif;
    color: $secondary-text-color;
    transition: .2s;

    &:hover {
        text-shadow: 1px 1px 1px $primary-color;
    }
}

@mixin landing-logo {
    display: inline;

    img {
        vertical-align: middle;
    }

    p {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        font-size: map-get($font-sizes, "logo-major");
        margin: 0.6em 0.4em;

        span {
            display: block;
            font-weight: normal;
            font-size: map-get($font-sizes, "logo-minor");
            line-height: 0.5;
        }
    }
}

.heading {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    z-index: 1;
}

body {
    margin: 0;
    background-color: $body-background-color;
}

.header {
    font-family: 'Hind', sans-serif;
    background: $header-background-img;
    border-bottom-right-radius: 40%;
    color: $primary-text-color;
    height: 720px;

    &-wrap {
        width: 80%;
        margin-right: auto;
        margin-left: auto;

        .landing-logo {
            @include landing-logo;
            font-weight: bold;
        }
    }

    &_heading {
        @extend .heading;
        width: 50%;
        font-size: map-get($font-sizes, "h1");
        line-height: 1;
        margin-top: 0.9em;
        margin-bottom: 0.5em;

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 305px;
            height: 50px;
            background-color: $secondary-color;
            z-index: -1;
        }
    }

    &_text {
        width: 50%;
        white-space: pre-line;
        margin-bottom: 3em;
    }

    &_button {
        @include button;

        + a {
            @include anchor;
            font-size: 19px;
            display: inline-block;
            margin-left: 150px;
        }
    }
}

.section {
    text-align: center;

    &_text {
        @extend .heading;
        display: inline-block;
        font-size: map-get($font-sizes, "h2");
        color: $primary-text-color;
        text-align: center;

        &:before {
            content: "";
            position: absolute;
            bottom: 5px;
            left: 210px;
            width: 185px;
            height: 50px;
            background-color: $secondary-color;
            z-index: -1;
        }
    }

    &_card_wrap {
        width: 58%;
        margin: 0 auto 135px;
    }

    &_card {
        display: flex;
        margin-bottom: 25px;
        padding: 22px;
        color: $secondary-text-color;
        background-color: $primary-color;
        border-radius: $frame-border-radius;

        &_img {
            display: block;
            width: 100%;
            border-radius: $frame-border-radius;
        }

        &_right_container {
            display: flex;
            flex-direction: column;
            padding: 0 88px 0 82px;
            margin: auto 0;
        }

        &_heading {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: map-get($font-sizes, "card-heading");
            text-align: center;
            margin-top: 0;
        }

        &_text {
            font-family: 'Hind', sans-serif;
            opacity: 0.8;
            text-align: justify;
        }
    }

    &_link {
        @include anchor;
        opacity: 0.8;
    }

    &_banner {
        position: relative;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        margin: auto;
        width: 63%;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: left;
        background: linear-gradient(to right, $first-gradient-color, $second-gradient-color 80%);
        border-radius: $frame-border-radius;
        z-index: 1;

        &_heading {
            @extend .heading;
            margin-bottom: 0;
            color: $primary-text-color;
            font-size: map-get($font-sizes, "banner-heading");

            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 120px;
                width: 65px;
                height: 50px;
                background-color: $secondary-color;
                z-index: -1;
            }
        }

        &_text {
            color: $secondary-text-color;
            font-weight: normal;
        }

        &_text_wrap {
            margin: 0 auto 25px;
        }

        &_button {
            @include button;
            margin: auto;
        }
    }
}

.footer {
    position: relative;
    margin-top: -75px;
    font-family: 'Hind', sans-serif;
    color: $secondary-text-color;
    background-color: $primary-color;
    z-index: -1;

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 115px;
        padding-bottom: 25px;
        margin: 0 auto;
        width: 80%;
    }

    .landing-logo {
       @include landing-logo;
    }

    &_text {
        width: 300px;
        font-size: 14px;
    }
}