$primary-color: #3b3f50;
$secondary-color: #ff4e33;
$primary-text-color: #fff;
$secondary-text-color: #fff;
$btn-color: #e3ac00;
$body-background-color: #21232e;
$first-gradient-color: #dda207;
$second-gradient-color: #942e52;
$header-background-img: url(../img/m-h-night.jpg) center/cover no-repeat;
$frame-border-radius: 5px;