$primary-color: #21232e;
$secondary-color: #14a0c7;
$primary-text-color: #21232e;
$secondary-text-color: #fff;
$btn-color: #699900;
$body-background-color: #fff;
$first-gradient-color: #649414;
$second-gradient-color: #2e5cd6;
$header-background-img: url(../img/m-h-day.jpg) center/cover no-repeat;
$frame-border-radius: 5px;